.header-title-novios{
    display: flex;
    justify-content: center;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("../../img/FOTO-7.png") ;
    opacity: 90%;
    background-color: black;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .title-boda {
    font-size:5.2rem;
    color:white;
    font-family: 'Great Vibes';
    font-weight: 500;
  }

  .title-bg{
    font-size:5.2rem;
    color:var(--color-textContrast);
    font-family: 'Great Vibes';
    font-weight: 500;
  }
  .color-secound{
    color:var(--color-primary) !important;
  }
  .oculta{
    display: none;
  }

  .remove{
    
    top:150px;
    text-align:center;
    padding:10px;
    font-family:'poppins';
    border-radius:150px;
    opacity:70%;
    color:white;

    font-size: 0px;
    position: relative;
    animation: remove 0.5s ;
  }
  
  @keyframes remove {
    0% {
      opacity: 60%;
    }
    50% {
      opacity: 10%;
    }
    100%{
      opacity: 0%;
    }
    
  }


  .audio-voice{
    top:92px;
    text-align:center;
    padding:10px;
    font-family:'poppins';
    border-radius:150px;
    opacity:70%;
    color:white;
    position: relative;
    animation: touch 1.8s infinite;
  }
  @keyframes touch {
    0%, 100% {
      font-size: 20px;
    }
    50% {
      font-size: 22px;
    }
    
  }

  .subtitle-boda{
    margin-top: 50px;
    font-size:1rem;
    color:white;
    font-family: 'poppins';
    font-weight: 300;
    margin:0;
    letter-spacing: 0.025em;
  }
  .header-title-message{
    display: flex;
    justify-content: center;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.859), rgba(0, 0, 0, 0.809)) , url("../../img/FOTO-7.png") ;
    opacity: 90%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .header-title{
    text-align: center;
    align-self: center;
    width: 100%;
  }
    
  .gallery-header-title{
      
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  .title-Message{
    color:#ff7b7b;
    font-family: 'Bebas Neue';
    margin-left: 20px;
    font-size:1.5rem;
    margin-right:20px;
    color:white
  }
  .subtitle-Message{

    color:white;
    font-weight: 200;
    font-family: 'poppins';
  }
  .remaster{
    font-size:0.8rem;
  }

  @media (max-width: 425px) {
    
  .title-boda {
    font-size:4.2rem;
  }
  .subtitle-boda{
    font-size: 0.7rem ;
    letter-spacing: 0.025em ;
  }
  .audio-voice{
    top:112px;
  }
  .title-bg{
    font-size: 3.2rem;
  }
  }