
  .title-bg-2{
    font-size:5.2rem;
    color:#418f76;
    font-family: 'Great Vibes';
    font-weight: 500;
    text-align: center;
  }
  .color{
    color:#418f76;
  }
  .mar-custom{
    margin-top: 19px;
    margin-right: 0px;
    margin-left: 0px;
  }
    .section-bg{
        justify-content: center;
        height: 698px;
        background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.55)) , url("../../img/LEAVES_BACKGROUND.jpg") ;
        background-color: #f8fffa;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .division{
        width: 80%;
        color:#24955bba
    }
    .card{
       --bs-card-bg: #083c0c1f !important;
       --bs-card-border-width: 0px !important;
       justify-content: center;
    }
    .card-title{
        font-family: 'Poppins';
        color: #277e62;
    }
    .card-text {
        color:#2c1f1fed;
        font-family:'Poppins';
    }
    .qr{
      width: 80%;
    }
    .card-body{
      flex: 1;
      text-align-last: center;
    }
    .btn-success{
        --bs-btn-hover-border-color: #36a973;
        --bs-btn-bg: #449b72e3;
        font-family: 'Poppins';
    }
    .center-qr{
      text-align: center !important;
    }
    .morado {
      color: white  !important;
    }
    .morado-card {
      
      --bs-card-bg:#22004c !important;
    }

@media (max-width: 425px) {
    .card{
        padding: 19px;
        margin: 30px;
    }
    .title-bg-2{
      font-size: 3.2rem;
    }
    .color{
        height: 50px;
    }
    
    .qr{
      width: 110%;
    }
}