.heart-loading{
  background: #f8fffa;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 100%;
  justify-content: center;
  flex-direction: column;
}

.loading-text{
  text-align: center;
  font-family: 'poppins';
  font-size: 1.3rem;
  color: #a5a5a5d1;
  
  animation-duration: 2s;
  animation: latidos infinite;

}


::-webkit-scrollbar {
  display: none;
  }

@keyframes latidos {
  from { opacity: 100%; }
  90% { opacity: 50% }
  to { opacity: 0% }
}


@media (max-width: 425px) {
      
  .loading-text{
    font-size: 1rem;
  }
  }